<html>
    <head>
        <title>CoreBuilder Main View</title>
        <table>
            <tr>
                <td>
                    <img src="{{MEDIA_URL}}images/banner4.png" width="468" height="60" alt="{{MEDIA_URL}}images/banner3.png" />
                </td>
                <!--<td>
                    <p>Test Header column 2</p>
                </td>
            </tr></!-->
        </table>
        <link rel="stylesheet" href="{{MEDIA_URL}}css/general.css" type="text/css" media="screen" />
        <style type="text/css">
            select, option {font-family:monospace;}
        </style>
        <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
        <script type="text/javascript" src="{{MEDIA_URL}}javascript/jquery.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}javascript/jPaq.js"></script>
        <!--<script type="text/javascript" src="{{MEDIA_URL}}javascript/main.js"></script>-->
        <script type="text/javascript" src="{{MEDIA_URL}}javascript/events.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}javascript/datafunctions.js"></script>
        <!--<link rel="stylesheet" href="{{MEDIA_URL}}javascript/development-bundle/themes/ui-lightness/jquery.ui.all.css">
        <link rel="stylesheet" href="{{MEDIA_URL}}javascript/css/ui-lightness/jquery-1.8.17-custom.css">
        <script src="{{MEDIA_URL}}javascript/development-bundle/ui/jquery.ui.core.js"></script>
        <script src="{{MEDIA_URL}}javascript/development-bundle/ui/jquery.ui.widget.js"></script>
        <script src="{{MEDIA_URL}}javascript/development-bundle/ui/jquery.ui.mouse.js"></script>
        <script src="{{MEDIA_URL}}javascript/development-bundle/ui/jquery.ui.sortable.js"></script>
        <script src="{{MEDIA_URL}}javascript/development-bundle/ui/jquery.ui.tabs.js"></script>-->

        <script type="text/javascript">

            window.onload = startForm;


            function startForm()
            // Sets up our selectors for automatic action when one is selected.
            {
                document.getElementById("target_select").selectedIndex = 0;
                document.getElementById("target_select").onchange = getTarget;
                document.getElementById("view_select").selectedIndex = 0;
                document.getElementById("view_select").onchange = getPkgs;
                document.getElementById("Cat_select").selectedIndex = 0;
                populatePkgs;
                document.getElementById("Cat_select").onchange = populatePkgs;
                document.getElementById("Pkg_select").onchange = getVers;
                document.getElementById("Ver_select").onchange = getMeta;
                document.getElementById("deps").onclick = getDeps;
                document.getElementById("chglog").onclick = getChglog;
                document.getElementById("inst_files").onclick = getInst_files;
                document.getElementById("ebuild").onclick = getEbuild;
                document.getElementById("use").onclick = getUse;
                document.getElementById("cflags").onclick = getCflags;
            }

            var NONE = "{{NONE}}";
            var ALL = "{{ALL}}";
            pkgs = ["{{NONE}}"];
            versions = ["{{NONE}}"];
            versions_data = [];
            current_pkg = "";

            var tabs = ["summary", "deps", "chglog", "inst_files", "ebuild", "use", "cflags"];
            var tabs_loaded = {"summary":false, "deps":false, "chglog":false,
                "inst_files":false, "ebuild":false, "use":false, "cflags":false};

            // Initialize our pkg_notebook tabs
            /*$(function() {
                $( "#pkg_notebook" ).tabs().find( ".ui-tabs-nav" ).sortable({ axis: "x" });
            });*/

    </script>
    </head>
    <body>
        <hr />
        <table>
            <tr>
                <td>
                    <form id = 'target_form'>{% csrf_token %}
                        <label>Connected to:</label>
                        <select id="target_select" name="Target_selector">
                            {% if targets %}
                                {% for v in targets %}
                                    {% ifequal selected_target v %}
                                        <option value="{{v}}" selected="selected">{{v}}</option>
                                    {% else %}
                                        <option value="{{v}}">{{v}}</option>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </form>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <form id="view_form" >{% csrf_token %}
                        <label>View Selector</label>
                        <select id="view_select" name="View_selector">
                            {% if views %}
                                {% for v in views %}
                                    {% ifequal selected_view v %}
                                        <option value="{{v}}" selected="selected">{{v}}</option>
                                    {% else %}
                                        <option value="{{v}}">{{v}}</option>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </form>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;Actions
                </td>
                <td>
                    <form id="Merge" action="" method="GET">{% csrf_token %}
                        <input id="merge_btn" type="button" value="Merge" onClick="doMerge(this.form)">
                    </form>
                </td>
                <td>
                    <form id="Unmerge" action="" method="GET">{% csrf_token %}
                        <input id="unmerge_btn" type="button" value="UnMerge" onClick="doUnmerge(this.form)">
                    </form>
                </td>
            </tr>
        </table>
        <hr />
        <table>
            <tr>
                <td width="150">
                    <body>
                        <center><b>Categories</b></center>
                        <form id="cat_form" >{% csrf_token %}
                            <center><select id="Cat_select" name="Cat_selector" size="10" >
                                <option value="{{NONE}}">{{NONE}}</option>
                            </select></center>
                            <!--<center><input id="cat_submit" type="submit" value="Select" /></center>/!-->
                        </form>
                    </body>
                </td>
                <td width="200">
                    <body>
                        <center><b>Packages</b></center>
                        <form>{% csrf_token %}
                            <center><select id="Pkg_select" name="Pkg_selector" size="10">
                                <option value="{{NONE}}">{{NONE}}</option>
                            </select></center>
                        </form>
                    </body>
                </td>
                <td width="250">
                    <body>
                        <center><b>Version &nbsp;&nbsp;&nbsp;   Slot &nbsp;&nbsp;&nbsp;  Repository</b></center>
                        <form method='post' action="corebuilder/ver_changed">{% csrf_token %}
                            <center><select id="Ver_select" name="Ver_selector" size="10">
                                <option value="{{NONE}}">{{NONE}}</option>
                            </select></center>
                            <!--<center><input type="submit" value="Select" /></center>-->
                        </form>
                    </body>
                </td>
            </tr>
        </table>
        <hr/>
        <div id="pkg_notebook">
            <!--<ul>
                <li id="summary"><a href="#tab_summary">Summary</a></li>
                <li id="deps"><a href="#tab_deps">Dependencies</a></li>
                <li id="chglog"><a href="#tab_chglog">ChangeLog</a></li>
                <li id="inst_files"><a href="#tab_inst_files">Installed Files</a></li>
                <li id="ebuild"><a href="#tab_ebuild">Ebuild</a></li>
                <li id="use"><a href="#tab_use">Use Flags</a></li>
                <li id="cflags"><a href="#tab_cflags">C, CXX</a></li>
            </ul>-->
            <ul class="menu">
                <li id="summary">Summary</li>
                <li id="deps">Dependencies</li>
                <li id="chglog">ChangeLog</li>
                <li id="inst_files">Installed Files</li>
                <li id="ebuild">Ebuild</li>
                <li id="use">Use Flags</li>
                <li id="cflags">C, CXX</li>
            </ul>
            <span class="clear"></span>
            <div id="tab_summary" class="pkg_notebook summary">
                <ul id="pkg_detail">
                </ul>
            </div>
            <div id="tab_deps" class="pkg_notebook deps">
                <div id="pkg_deps">
                    <ul>
                    </ul>
                </div>
            </div>
            <div id="tab_chglog" class="pkg_notebook chglog">
                <div id="pkg_chglog">
                    <ul>
                    </ul>
                </div>
            </div>
            <div id="tab_inst_files" class="pkg_notebook inst_files">
                <div id="pkg_inst_files">
                    <ul>
                    </ul>
                </div>
            </div>
            <div id="tab_ebuild" class="pkg_notebook ebuild">
                <div id="pkg_ebuild">
                </div>
            </div>
            <div id="tab_use" class="pkg_notebook use">
                <div id="pkg_use">
                </div>
            </div>
            <div id="tab_cflags" class="pkg_notebook cflags">
                <div id="pkg_cflags">
                </div>
            </div>
        </div>
        <hr/>
        <div id="debug">
        </div>
    </body>
</html>
