@CHARSET "UTF-8";
/******* GENERAL RESET *******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
border:0pt none;
font-family:inherit;
font-size: 100%;
font-style:inherit;
font-weight:inherit;
margin:0pt;
padding:0pt;
vertical-align:baseline;
}

body{
    background: #fff;
    line-height:14px;
    font-size: 12px;
    font-family: Arial,  Verdana, Helvetica, sans-serif;
    margin:0px 5px 5px 5px;
    cursor:default;
}

html,body{
    height:100%;
    text-align: left;
}

.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}

a{
    text-decoration: none;
}

.logo{
    display:block;
    width:100%;
    height:65px;
    background-color:rgb(215,229,243);
}

.webonized
{
float:right;
width:90px;
height:60px;
margin:5px;
}



/******* MENU *******/

#pkg_notebook{
    margin: 3px;
    margin-right: 2px;
    width: auto ;
    height:  auto;
}

#pkg_notebook ul{
    list-style: none;
    list-style-position: outside;
}

#pkg_notebook ul.menu li{
    float: left;
    margin-right: 5px;
    margin-bottom: -1px;
}

#pkg_notebook ul.menu li{
    font-weight: 700;
    display: block;
    padding: 5px 10px 5px 10px;
    background: #efefef;
    margin-bottom: -1px;
    border: 1px solid #d0ccc9;
    border-width: 1px 1px 1px 1px;
    position: relative;
    color: #898989;
    cursor: pointer;
}

#pkg_notebook ul.menu li.active{
    background: #fff;
    top: 1px;
    border-bottom: 0;
    /*border-color: #000000;*/
    color: #5f95ef;
}

/******* CONTENT *******/

.pkg_notebook{
    margin: auto;
    background: #efefef;
    background: #fff;
    border: 1px solid #d0ccc9;
    text-align: left;
    padding: 0px 5px 20px 5px;
    font-size: 11px;
}

.pkg_notebook h1{
    line-height: 1em;
    vertical-align: left;
    height: 24px;
    padding: 0px 10px 8px 10px;
    font-size: 18px;
    color:black;
    margin: 10pt;
    text-align:left;
    border-bottom: 1px solid #d0ccc9;
}

.pkg_notebook h4{
    font-size: 13px;

}
.pkg_notebook.links{
    display: none;
}

.pkg_notebook.links a{
    color: #5f95ef;
}

.pkg_notebook.summary li{
        padding-left: 5px;
        font-size: 12px;
        padding-bottom: 8px;

}

